.movies-cards__wrapper {
    padding: 73.60px 70.08px 0;
}

.movies-cards__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    justify-content: center;
    gap: 32px 28px;
}


.movies-cards__btn-more {
    margin: 60px 0 94.40px;
    width: 100%;
    color: var(--color-text-light);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 11.04px 16px 8.96px;

    background: var(--color-button-dark);
    transition: var(--transition-on-hover);
    cursor: pointer;
}

.movies-cards__btn-more:hover {
    opacity: var(--opacity-btn);
}


@media screen and (max-width: 888px) {
    .movies-cards__wrapper {
        padding: 80px 30px 0;
        min-height: 650px;
    }

    .movies-cards__container {
        grid-template-columns: repeat(auto-fit, 342px);
        gap: 36px 22.40px;
    }

    .movies-cards__btn-more {
        margin: 80px 0 84px;
    }
}


@media screen and (max-width: 375px) {
    .movies-cards__wrapper {
        padding-right: 9.92px;
        padding-left: 9.92px;
        padding-top: 45px;
    }

    .movies-cards__container {
        grid-template-columns: repeat(1, 300px);
        gap: 13.5px;
    }

    .movies-cards__btn-more {
        margin: 82px 0 79px;
    }
}
