.nav__menu-profile {
  display: flex;
  align-items: center;
}

.nav__menu-profile-links {
  display: flex;
  align-items: center;
  margin-right: 50px;
  gap: 20px;
  padding: 0;
}

.nav__menu-profile-link {
  color: #FFF;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  text-decoration: none;
  transition: 0.5s;
}

.nav__menu-profile-link:hover {
  opacity: 0.7;
}

.nav__menu-profile-account {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  width: 100px;
  transition: 0.5s;
}

.nav__menu-profile-account:hover {
  opacity: 0.7;
}

.nav__menu-profile-box {
  border-radius: 6px;
  background: #313131;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-profile-icon {
  padding: 10px;
}

.nav__button-menu {
  display: none;
  background: url(../../../images/icon-menu_open.svg);
  width: 44px;
  height: 44px;
  top: 15px;
  right: 30px;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 3;
}

.button__menu-close {
  background: url(../../../images/icon-menu_close.svg);
  background-position: center;
  width: 22px;
  height: 22px;
  top: 22px;
  right: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
  z-index: 55;
  position: fixed;
}

@media (max-width: 850px) {
  .nav__menu-profile {
    display: none;
  }

  .nav__button-menu {
    display: block;
  }
}

@media (max-width: 400px) {
  .nav__button-menu {
    background: url(../../../images/icon__menu_open-small.svg);
    width: 40px;

  }

  .button__menu-close {
    top: 18px;
    right: 21px;
  }
}
